name: CI
on: [push]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v3
        with:
          python-version: "3.109"
      - run: pip install -r requirements.txt
      - run: pip install flake8 pytest
      - run: flake8 src
      - run: python -m pytest tests/
